/* Main container with two columns */
.Get-touch {
  width: 100%;
  background: #121010;
  color: #ffffff;
  padding: 120px 8%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
}

/* LEFT SIDE WRAPPER */
.left-block {
  display: flex;
  flex-direction: column;
}

/* Big CONTACT heading */
.big-heading h2 {
  font-size: 105px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
  margin-top: -50px;
}

/* CONNECT text */
.contact-text h4 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #c9a04d;
  margin-top: 120px;
  padding-left: 45px;
}

/* Right Section */
.right-contacttext {
  padding-top: 80px;
}

/* Right Heading */
.right-contacttext h3 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-top: 50px;
  margin-left: -60px;
}

.right-contacttext p {
    font-size: 18px;
    color: #cfcfcf;
    line-height: 1.2;
    width: 75%;
    margin-top: -12px;
    margin-left: -60px;
}

/* Responsive */
@media (max-width: 900px) {
  .Get-touch {
    grid-template-columns: 1fr;
  }

  .right-contacttext {
    padding-top: 40px;
  }

  .big-heading h2 {
    font-size: 80px;
  }
}
