.contact-container {
      padding: 120px;
  display: flex;
  justify-content: space-between;
  padding: 120px 5%;
  background: #141212;
  gap: 40px;
  flex-wrap: wrap;
}

/* Left Form */
.contact-form {
  width: 32%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 70px;
  
}

.input-box {
  width: 100%;
  padding: 18px 20px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #fff;
  font-size: 18px;
}

/* Textarea */
.textarea-wrapper {
  position: relative;
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 18px 20px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  outline: none;
  resize: none;
}

.char-count {
  position: absolute;
  top: 12px;
  right: 15px;
  color: #555;
  font-size: 14px;
}

/* Submit Button */
.submit-btn {
  width: 110%;
  background: #d7ba75;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  opacity: 0.9;
}

/* Right Map */
.contact-map {
  width: 50%;
  min-width: 350px;
  padding-right: 60px;
}

.contact-map iframe {
  width: 100%;
  height: 450px;
  border: 0;
  border-radius: 25px;
}

/* Responsive */
@media (max-width: 992px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-form,
  .contact-map {
    width: 100%;
  }
}
