/* Full black background */
.about-page {
  background-color: #0f0f0f;
  min-height: 100vh;
  color: white;
  padding-bottom: 100px;
}

.top-banner {
    height: 240px;
    background: #000;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    padding-bottom: 50px;
    padding-left: 150px;
}

.top-banner h1 {
    font-size: 90px;
    font-weight: 600;
    letter-spacing: 5px;
}

.story-section {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 40px;
        margin-left: 15px;
        margin-top: -10px;
}

.story-left h4 {
  color: #d4a945; /* golden text */
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.story-left h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.3;
      margin-left: -20px;
}

/* Paragraph Section */
.story-right p {
  font-size: 18px;
  line-height: 1.8;
  color: #a5a5a5;
  margin-bottom: 25px;
  max-width: 600px;
  width: 75%;
}

/* Responsive */
@media (max-width: 1000px) {
  .story-section {
    flex-direction: column;
  }

  .top-banner h1 {
    font-size: 70px;
  }
}
