.counter-wrapper {
  
  background: #12100f;
  padding: 120px 180px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 40px;
  color: #fff;
}

.counter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-number {
  font-size: 62px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.plus {
  font-size: 48px;
  color: #d8b86d; /* Gold color */
  font-weight: 600;
}

.counter-label {
  margin-top: 0px;
  font-size: 20px;
  color: #dcdcdc;
  letter-spacing: 0.4px;
}

/* Responsive */
@media (max-width: 1024px) {
  .counter-wrapper {
    padding: 80px 60px;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  .counter-number {
    font-size: 60px;
  }

  .plus {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .counter-wrapper {
    padding: 60px 20px;
    grid-template-columns: 1fr;
  }

  .counter-number {
    font-size: 54px;
  }

  .plus {
    font-size: 32px;
  }
}
