.gallery-container {
  display: flex;
  gap: 20px;
  background: #0f0d0d;
  padding-left: 150px;
  padding-right: 150px;
  margin-top: -220px;
  padding-bottom: 80px;
}

.gallery-item {
  position: relative;
  flex: 1;
  overflow: hidden;
  border-radius: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.gallery-item.active {
  flex: 2;
}

.gallery-item.inactive {
  flex: 0.8;
  filter: brightness(0.6);
}
.gallery-heading {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;  
}

.gallery-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.gallery-item.active .gallery-text {
  opacity: 1;
  transform: translateY(0);
}
.gallery-item {
  position: relative;
  flex: 1;
  overflow: hidden;
  border-radius: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 20px;
  transition: all 0.5s ease;
  position: relative;
  z-index: 1;  
}

.gallery-item::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0); 
  transition: all 0.4s ease;
  z-index: 2; 
}

.gallery-item.active::after {
  background: rgba(0, 0, 0, 0.55); 
}

/* TEXT */
.gallery-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #fff;           
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
  z-index: 3;            
}

.gallery-item.active .gallery-text {
  opacity: 1;
  transform: translateY(0);
}

/* Hero Css for collection hero*/

.about-page {
  background-color: #0f0f0f;
  min-height: 100vh;
  color: white;
  padding-bottom: 100px;
}

.top-banner {
    height: 240px;
    background: #000;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    padding-bottom: 50px;
    padding-left: 150px;
}

.top-banner h1 {
    font-size: 90px;
    font-weight: 600;
    letter-spacing: 5px;
}

.story-section {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 40px;
        margin-left: 15px;
        margin-top: -10px;
}

.story-left h4 {
  color: #d4a945;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.story-left h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.3;
      margin-left: -20px;
}

.story-right p {
  font-size: 18px;
  line-height: 1.8;
  color: #a5a5a5;
  margin-bottom: 25px;
  max-width: 600px;
  width: 75%;
}

/* Responsive */
@media (max-width: 1000px) {
  .story-section {
    flex-direction: column;
  }

  .top-banner h1 {
    font-size: 70px;
  }
}
