.Section-collection {
    background: black;
    color: white;
    padding: 80px 120px;
    display: flex;
    gap: 200px;
}
.leftsection {
    width: 30%;
}

.leftsection h4 {
    color: #d4a945;
    font-size: 20px;
}
h2 {
    font-size: 50px;
}