.footer {
  background-color: #0f0f0f;
  color: #fff;
  padding: 60px 20px;
}

.footer-logo-section {
  text-align: center;
}

.footer-logo {
  width: 160px;
}

.footer-social-icons {
  margin-top: 20px;
}

.footer-social-icons span {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #d4a945;
  justify-content: center;
  align-items: center;
  margin: 0 6px;
  font-size: 16px;
  color: black;
}

.footer-links {
  max-width: 1200px;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.footer-links h3 {
  font-size: 18px;
  margin-bottom: 16px;
}

.footer-links p {
  color: #d3d3d3;
  font-size: 15px;
  margin-bottom: 10px;
}

.footer-bottom {
  max-width: 1200px;
  margin: 40px auto 0;
  padding-top: 20px;
  border-top: 1px solid #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bbb;
  flex-wrap: wrap;
}

.footer-bottom-links a {
  color: #bbb;
  margin-left: 16px;
  text-decoration: none;
  font-size: 14px;
}

/* tab */
@media (max-width: 991px) {
  .footer-links {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }

  .footer-bottom {
    gap: 15px;
  }
}


@media (max-width: 576px) {
  .footer-links {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .footer-bottom-links a {
    margin: 0 10px;
  }
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
