.header {
  width: 100%;
  background: linear-gradient(to bottom, #0f0f0f, #050505);
  padding: 15px 0;
  position: relative;
  z-index: 100;
}

.header-inner {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-img {
    width: 180px;
    object-fit: contain;
    padding-top: 10px;
}

.nav-menu {
  display: flex;
  gap: 30px;
}

.nav-menu a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
}

.nav-menu a:hover {
  color: #d4a945;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .hamburger {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: #050505;
    padding: 20px 0;
    gap: 20px;
    text-align: center;
    display: none;
  }

  .nav-menu.open {
    display: flex;
  }
}


@media (max-width: 480px) {
  .logo-img {
    width: 100px;
  }

  .nav-menu a {
    font-size: 15px;
  }
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
