/* Main Wrapper */
.faq-wrapper {
  background: #121110; 
  padding: 100px 0;
  text-align: center;
  color: #fff;
  font-family: "Inter", sans-serif;
}

/* Heading */
.faq-subtitle {
  color: #d0b784;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.faq-title {
  font-size: 42px;
  font-weight: 600;
}

.faq-desc {
  color: #d6d6d6;
  margin-top: -15px;
  font-size: 18px;
}

/* Container */
.faq-box {
  background: #1b1b1b;
  width: 85%;
  max-width: 1100px;
  margin: 60px auto 0 auto;
  border-radius: 30px;
}

/* FAQ Item */
.faq-item {
  border-bottom: 1px solid #333;
  padding: 18px 0;
}

.faq-item:last-child {
  border-bottom: none;
}

/* Question Row */
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-question h3 {
  color: #e8c46d; 
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

/* Arrow */
.faq-arrow {
  font-size: 22px;
  color: #e8c46d;
  transition: 0.3s ease;
}

.faq-arrow.rotate {
  transform: rotate(180deg);
}

/* Answer Box */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.faq-answer.open {
  max-height: 300px;
  margin-top: 12px;
}

.faq-answer p {
  color: #e0e0e0;
  line-height: 1.7;
  font-size: 17px;
  margin-left: -360px;
}
