.blog-section {
  background: #141212;
  padding: 80px 0;
}

.blog-wrapper {
  max-width: 1350px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  padding: 0 25px;
}

/* Card Styling */
.blog-card {
  background: #1a1919;
  border-radius: 22px;
  overflow: hidden;
  border: 1px solid #d2b36f;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-8px);
}

/* Image */
.blog-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-bottom: 1px solid #d2b36f;
}

.blog-heading h2 {
    font-size: 110px;
    padding: 0px 120px;
    color: white;
    font-weight: 600;
    margin-top: 0px;
}
.blog-heading {
    margin-top: -50px;
}
/* Content area */
.blog-content {
  padding: 25px 28px 32px;
}

.blog-title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 12px;
}

.blog-date {
  color: #cfcfcf;
  font-size: 14px;
  margin-bottom: 15px;
}

.blog-desc {
  font-size: 16px;
  line-height: 1.7;
  color: #b8b8b8;
  margin-bottom: 22px;
}

/* Read More */
.blog-readmore {
  color: #d2b36f;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

.blog-readmore:hover {
  margin-left: 5px;
}

/* Responsive */
@media (max-width: 992px) {
  .blog-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .blog-wrapper {
    grid-template-columns: 1fr;
  }
}
