.Text-group {
    background: black;
    color: white;
    padding: 1px 120px;
    display: flex;
    padding-top: 50px;
    margin-bottom: -50px;
}

.heading-text {
    width: 82%;
    font-size: 22px;
    font-weight: 400;
}
.para-text {
    width: 70%;
    margin-top: 40px;
}