.slider-wrapper {
  width: 100%;
  overflow: hidden;
  background: #111;
  padding: 20px 0;
}

.slider-track {
  display: flex;
  gap: 10px;
  width: max-content;     /* important */
  animation: scroll 20s linear infinite;
}

.slide {
  min-width: 300px;
  height: 380px;
  overflow: hidden;
  border-radius: 8px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
